body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 580px;
  background: #fff;
  margin: 16px auto;
  border: 20px solid white;
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
}

button {
  background: white;
  border: 1px solid #eee;
}