body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 460px;
  background: #fff;
  margin: 16px auto;
  border: 20px solid white;
}

.title {
  background: #e3f4ff;
  padding: 16px;
  font-size:16px;
}

.content {
  background: #e3f4ff;
  margin-bottom: 16px;
  padding: 20px;
}

.button-container {
  background: #e3f4ff;
}

button {
  background: white;
  border: 1px solid #eee;
}